/* Animate image: simple scale and fade-in effect */
.base-img   { 
    display:block; 
    width:100%; 
    height:auto; 
    transition:transform 1s ease;
}

.hover-img {
    position:absolute;
    inset:0;
    width:100%; 
    height:100%; 
    object-fit:cover; 
    opacity:0; 
    transition:opacity .3s ease; 
    z-index:2;
}

/* hover properties */



.works-grid.hover-white .work-item:hover .work-img:after

{
    background: #00000000;
}

/* carousel next prev icon */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {

    display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #888888;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  position: absolute;
}

.carousel-control-prev-icon {
    left: 0px;
}
.work-item:hover .work-intro {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: -0.00200em;
    line-height: 1.1;
}


